.results-graph {

  &__container {
    width: 95%;
    max-width: 800px;
    margin: 35px auto 0 auto;
  }

  &__caption {
    font-size: 20px;
    text-align: center;
  }
}

.highcharts-container {

  .highcharts-credits {
    display: none;
  }
}