{
  "extends": "airbnb",
  "rules": {
    "no-debugger": "warn",
    "class-method-use-this": "off",
    "spaced-comment": "off"
  },
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  }
}
