{
  "extends": "airbnb",
  "rules": {
    "no-debugger": "warn",
    "class-methods-use-this": "off",
    "spaced-comment": "off",
    "react/prop-types": "off",
    "jsx-a11y/label-has-for": [ "error", {
      "required": {
          "every": ["id"]
      }
    }]
  },
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  }
}
