@import '../../assets/style/settings/breakpoints';
@import '../../assets/style/settings/colours';

.results-table {

  &__header {
    font-size: 22px;
    text-align: center;

    &::after {
      width: 100px;
      border-bottom: 1px solid $colour-curious-blue;
    }
  }

  &__table {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 2px solid $light-grey;

    & thead {
      & tr {
        background-color: $light-grey;
      }
    }

    & tbody {
      & tr {
        &:hover {
          filter: drop-shadow(0 0 2px $transparent-black-50);
        }

        &:nth-of-type(2n + 1) {
          background-color: $white;
        }

        &:nth-of-type(2n) {
          background-color: $light-grey;
        }
      }
    }

    & td,
    & th {
      padding: 2px 2vw;
      font-size: 15px;

      @media (max-width: $small-mobile-break) {
        font-size: 12px;
      }

      &:nth-child(6),
      &:nth-child(7) {
        @media (max-width: 800px) {
          display: none;
        }
      }
    }
  }
}
