* {
  box-sizing: border-box;
}

.row {
  margin: 0;
}

.container {
  padding: 0;
}

[class^='col-'] {
  padding: 0;
}

input {
  padding: 0;
  border: none;

  &[type='number'] {
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      margin: 0;
      -webkit-appearance: none;
    }
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
