@import './assets/style/settings/colours';

.heading {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;

  &__h1 {
    border-radius: inherit;
    text-align: center;
    margin: 0;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: white;
    background-color: $primary-blue;
  }
}
