.field {

  &__container {
    height: 40px;
  }

  &__label {
    display: block;
  }

  &__input {
    height: 100%;
    border: 1px solid #ddd;

    &--touched {

    }
  }

  &__addon {

    &:first-child {

    }

    &:last-child {

    }
  }

  &__error {

  }
}
