body {
  background-color: $colour-mercury;
}

hr {
  height: 1px;
  background-image: linear-gradient(to right,
    $transparent-100,
    $transparent-black-50,
    $transparent-100);
  border: none;
}

.container {
  max-width: 90%;
  margin: 25px auto;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 1px 1px 10px $transparent-black-50;
}
